.container-preview-background {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,.6);
	z-index:200;
	display: none;
}
.container-preview-background-show {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-preview {
	border-radius:3px;
	box-shadow:5px 15px 15px #000000;
	box-sizing:border-box;
	border-left: 3px solid rgba(255,255,255,.1);
	border-right: 3px solid rgba(255,255,255,.1);
	width:98%;
	height:95vh;
	margin-top: 1em;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:space-around;
	z-index:210;
}
.header-preview {
	width:100%;
	background-color:white;
}
.header-preview .titulo-preview {
	text-align:center;	
	font-size:12px;
	color:#043B59;
	margin:1rem;
}
.visor-email {
	width:100%;
	height:693px;	
	overflow:auto;
	margin:auto;
}
.button-group-enviar-mail {
	background:url(../../../Framework/images/Tolepu/fondoFormularioDialog.png);	
	width:100%;
	height:75px;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items:space-around;
}
.button-group-enviar-mail .button-email {
	margin-top:auto;
	margin-bottom:auto;
	margin-right:15px;
}